/* global CSS rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Black", Gadget, sans-serif;
}

@media (max-height 600px) {
  body {
    font-size: 70%;
  }
}

/* navigation bar section */

#navbar {
  width: 100%;
  position: fixed;
  top: 0; /*The navbar should always be at the top of the viewport. */
  border-bottom: 4px solid grey;
  overflow: auto;
  background-color: #ffcc00;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  margin-right: 1em;
}

#navbar ul li a {
  text-decoration: none;
  font-family: inherit;
  font-size: 25px;
  color: #6600cc;
  padding: 0.5em 1em;
  line-height: 250%;
}

#navbar ul li a:hover {
  decoration: none;
  color: white;
  background-color: black;
}

main {
  margin-top: 50px;
}

/* welcome section */

#welcome-section {
  height: 100vh; /*The height of the welcome section should be equal to the height of the viewport. */
  background-color: #6600cc;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 130%;
  p {
    font-weight: 700;
  }
}

.imagesize {
  height: auto;
  max-width: 100%;
}

/* project section using CSS Gridbox */

#project_header {
  text-align: center;
  padding: 0.5em 1em;
  background-color: #000000;
  color: #ffcc00;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  background-color: #6600cc;
  grid-gap: 20px;
}

.project-tile a {
  text-align: center;
  color: #ffcc00;
  font-size: 25px;
  padding: 0.5em 1em;
}

.project-tile a:hover {
  color: white;
  background-color: black;
}

/* contact me section using CSS Flexbox */
#contact {
  width: 100%;
  height: 90vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  color: #ffcc00;
  h1 {
    font-size: 250%;
    padding: 0.2em 1em;
  }
  p {
    font-size: 120%;
    padding: 0.2em 1em;
  }
}

#contact ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact ul li a {
  text-decoration: none;
  font-family: inherit;
  font-size: 25px;
  color: #ffcc00;
  padding: 0.5em 1em;
  line-height: 250%;
}

#contact ul li a:hover {
  decoration: none;
  color: white;
  background-color: black;
}

/* footer section using CSS Flexbox */

footer {
  border-top: 4px solid grey;
  background-color: black;
  color: #ffcc00;
  font-size: 14px;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
