body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.left {
  width: 45vw;
  height: 100vh;
}

.right {
  width: 45vw;
  height: 100vh;
  overflow: auto; /*create scrollbar if necessary */
  border: 1px solid black;
}

#editor {
  width: 100%;
  height: 100%;
  border: 3px solid blue;
  outline: none; /*remove blue outline that would show up when clicking the textarea*/
}
